@model IEnumerable<CodeChallenges.Models.Problem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink( "Create New", "Create" )
</p>
@(Html.Telerik().Grid<CodeChallenges.Models.Problem>( Model )
        .Name( "grid" )
        .DataKeys( keys => keys
            .Add( c => c.Id )
            .RouteKey( "Id" ) )
        .Columns( columns =>
        {
            columns.Bound( c => c.Challenge.Name ).Title( "Challenge" );
            columns.Bound( c => c.Title );
            columns.Bound( c => c.Description );
            columns.Template(
                @<text>
                    @Html.ActionLink( "Edit", "Edit", new { id = item.Id } ) |
                    @Html.ActionLink( "Details", "Details", new { id = item.Id } ) |
                    @Html.ActionLink( "Delete", "Delete", new { id = item.Id } )
                </text>
    ).Title( "Action" );
        } )
                                .Scrollable()
                                .Sortable().Groupable()
)